@import '../../../colours.scss';

mat-card {
    padding: 0;
    overflow: hidden;
}

mat-card-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $divisor;
    background-color: rgb(245, 245, 245);
}

mat-card-subtitle {
    margin: 0;
}

mat-card-header ::ng-deep .mat-card-header-text {
    margin: 0;
}

mat-card-content {
    margin: 0;
}

mat-card-actions {
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $divisor;
}

mat-card-header,
mat-card-content,
mat-card-actions {
    padding: 15px !important;
}
