<div class="nav-container" [class.nav-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="nav-toolbar primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="snav.toggle()">
                <span class="font-size-20"><i class="fa fa-bars"></i></span>
            </button>
            <a (click)="onLinkClicked()" routerLink="/" class="title">Wallet</a>
            <span class="spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container class="nav-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav
            #snav
            [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches"
            [opened]="!mobileQuery.matches"
            fixedTopGap="56"
        >
            <mat-nav-list class="side-nav">
                <a mat-list-item (click)="onLinkClicked()" routerLink="/settings" routerLinkActive="active-link">
                    <span><i class="fa fa-cog"></i></span>
                    <span>Settings</span>
                </a>
                <a mat-list-item (click)="onLinkClicked()" routerLink="/about" routerLinkActive="active-link">
                    <span><i class="fa fa-info-circle"></i></span>
                    <span>About</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="side-nav-content">
            <div [@routeAnimations]="outlet.isActivated ? outlet.activatedRoute : ''">
                <router-outlet #outlet="outlet"></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
