.balance {
    margin: 0 16px;
    margin-top: 16px !important;
    font-size: x-large;
    font-weight: bold;
}

.break-line {
    word-break: break-all;
}

.canvas-container {
    width: 100%;
    text-align: center;
}
