<mat-card *ngIf="currentAddress">
    <mat-card-header>
        <mat-card-title>Ethereum</mat-card-title>
        <mat-card-subtitle class="break-line">{{ currentAddress }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
        <div class="balance">{{ balance | currency: 'ETH':'':'1.2-5' }} ETH</div>
    </mat-card-content>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-actions>
        <button (click)="onSend()" color="warn" mat-raised-button>Send</button>
        <button (click)="showModalReceive()" color="primary" mat-raised-button>Receive</button>
    </mat-card-actions>
</mat-card>

<ng-template #chooseAddressTemplate>
    <h1 mat-dialog-title>Select the account:</h1>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Select account</mat-label>
            <mat-select #dropdownAccount>
                <mat-option *ngFor="let account of accountList$ | async" [value]="account">
                    {{ account }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button color="primary" mat-raised-button [mat-dialog-close]="dropdownAccount.value">Select</button>
    </div>
</ng-template>

<ng-template #receiveTemplate>
    <h1 mat-dialog-title>Wallet Details:</h1>
    <div mat-dialog-content>
        <div class="break-line">Address: {{ currentAddress }}</div>
        <div class="canvas-container">
            <canvas id="canvas"></canvas>
        </div>
    </div>
    <div mat-dialog-actions>
        <button color="primary" mat-raised-button [mat-dialog-close]="">Close</button>
    </div>
</ng-template>

<ng-template #sendTemplate>
    <h1 mat-dialog-title>Send Ethereum:</h1>
    <div mat-dialog-content>
        <form [formGroup]="sendForm" (ngSubmit)="send()" #sendFormDirective="ngForm">
            <mat-form-field appearance="outline">
                <mat-label>To:</mat-label>
                <input matInput type="text" formControlName="toAddress" required />
                <button mat-button matSuffix mat-icon-button aria-label="Camera" (click)="onCameraClicked($event)">
                    <mat-icon>camera_alt</mat-icon>
                </button>
                <mat-error *ngIf="sendForm.get('toAddress').invalid">
                    <ng-container *ngIf="sendForm.get('toAddress').errors.required">Address is required.</ng-container>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Amount:</mat-label>
                <input matInput type="number" formControlName="amount" required />
                <mat-error *ngIf="sendForm.get('amount').invalid">
                    <ng-container *ngIf="sendForm.get('amount').errors.required">Amount is required.</ng-container>
                </mat-error>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button (click)="send()" color="warn" mat-raised-button>Send</button>
        <button color="primary" mat-raised-button [mat-dialog-close]="">Close</button>
    </div>
</ng-template>
