@import '~@angular/material/theming';

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink);
$app-warn: mat-palette($mat-red);

$primary: rgb(92, 116, 253); // mat-color($app-primary, 500);
$accent: mat-color($app-accent, A200);
$warn: mat-color($app-warn, 500);

$background: rgb(235, 235, 235);
$divisor: rgb(225, 225, 225);
$gray: rgb(100, 100, 100);
$light-gray: rgb(245, 245, 245);
$text: $gray;
